/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

* {
	box-sizing: border-box;
	/* font-family: "Hiragino Kaku"; */
	color: rgb(255, 255, 255);
  }

html,
body {
  background-color: rgb(59, 49, 255);
}
